<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Freecycle - sharing econmomy that cares!</title>
    <link rel="icon" href="static/icon.png" type="image/png">
    <style>
    body {
      background-color: black;
      color: white;
    }
    </style> 
  </head>
  <body>

    <header>
        
        <!--
        <h1 style="text-align:center"><font color="gold">Old is gold</font></h1>
       -->
       
        <h1 style="text-align:center"><font color="gold">Recycle the right way!</font></h1>
        
    </header>

      <form method="POST" action="/" style="text-align:center; vertical-align:middle">
            {{ form.csrf_token }}
            <font color="gold">Item Name</font> {{ form.name(size=20) }}
            <font color="gold">Quantity</font> {{ form.quantity(size=4) }}
            <br>
            <br>
            <br>
            <font color="gold">Description</font> {{ form.description(size=37) }}
            <br>
            <br>
            <br>
            <br>

            <input type="submit" value="Enter Item" style="color: green; font-weight: bold;">
        </form>
    </div>
  </body>
</html>
